alertmanager:
  enabled: false
kubernetesServiceMonitors:
  enabled: false
kubeStateMetrics:
  enabled: false
nodeExporter:
  enabled: false
prometheusOperator:
  enabled: true
  nodeSelector:
    agentpool: burstpool
prometheus:
  enabled: true
  prometheusSpec:
    resources:
      requests:
        cpu: "1000m"
        memory: "2Gi"
      limits:
        cpu: "2000m"
        memory: "4Gi"
    nodeSelector:
      agentpool: burstpool
    retention: 30d
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: monitoring-storageclass
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 15Gi
grafana:
  grafana.ini:
    dataproxy:
      timeout: 180
      keep_alive_seconds: 180
  defaultDashboardsEnabled: false
  service:
    port: 8080
  nodeSelector:
    agentpool: burstpool
  enabled: true
  persistence:
    enabled: true
    type: sts
    storageClassName: monitoring-storageclass
    accessModes: ["ReadWriteOnce"]
    size: 1Gi
    finalizers:
      - kubernetes.io/pvc-protection
