# Avoid committing these files
/.ansible_vault
/fav_service_secrets.yml
# Ignore temp, test, log, and retry files
_tmp
/*.retry
/prj/test*
/*vars/test*
/doc/*.html
/results
.idea/*
*~

# Diffie-Hellman parameters and Mongo shared key should
# be regenerated per deployment and not persisted
roles/mongo/key.asc
roles/nginx/dhparam.pem

# Ignore local tooling
/docker-compose.yml
/.env
/*.tmp

# Ignore VS Code settings
.vscode/

# Ignore cached files
.cache/

#Other
**/.DS_Store