apiVersion: v1
kind: Service
metadata:
  name: opentripplanner-varely-v2
  labels:
    app: opentripplanner-varely-v2
spec:
  ports:
  - port: 8080
    targetPort: 8080
    name: opentripplanner-varely-v2-service-port
  selector:
    app: opentripplanner-varely-v2

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: opentripplanner-varely-v2
  labels:
    app: opentripplanner-varely-v2
    update: auto
    restartDelay: "1"
    restartAt: "03.00"
    restartLimitInterval: "720"
    checkImageFreshnessAt: "09.00"
    imageFreshnessTitle: "Seutuplus_routing_data"
spec:
  # replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 100%
      maxUnavailable: 0
  selector:
    matchLabels:
      app: opentripplanner-varely-v2
  template:
    metadata:
      labels:
        app: opentripplanner-varely-v2
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - opentripplanner-varely-v2
              topologyKey: kubernetes.io/hostname
        podAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 50
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                   - opentripplanner-finland-v2
              topologyKey: kubernetes.io/hostname
      nodeSelector:
        agentpool: megapool
      tolerations:
      - key: "megaPod"
        operator: "Equal"
        value: "yes"
        effect: "NoSchedule"
      containers:
      - name: opentripplanner-varely-v2
        image: hsldevcom/opentripplanner:v2-2026-01-15T08-55-12-f7269a9dd7-varely
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        volumeMounts:
          - name: otpcfgmap
            mountPath: /logback-include-extensions.xml
            subPath: file-from-cfgmap
          - name: datastorage
            mountPath: /var/otp/
        startupProbe:
          periodSeconds: 5
          timeoutSeconds: 5
          failureThreshold: 30
          httpGet:
            port: 8080
            path: "/otp/actuators/health"
        readinessProbe:
          periodSeconds: 5
          timeoutSeconds: 5
          failureThreshold: 5
          httpGet:
            port: 8080
            path: "/otp/actuators/health"
        livenessProbe:
          periodSeconds: 12
          timeoutSeconds: 10
          failureThreshold: 5
          httpGet:
            port: 8080
            path: "/otp/actuators/health"
        securityContext:
          allowPrivilegeEscalation: false
        env:
        - name: JAVA_OPTS
          value: "-Xmx4G -Xms4G -XX:+UseG1GC -XX:MaxGCPauseMillis=200 -XX:G1ReservePercent=10 -Xlog:gc -XX:+UnlockExperimentalVMOptions -XX:+UseCompactObjectHeaders"
        resources:
          requests:
            memory: "5Gi"
            cpu: "1000m"
          limits:
            memory: "5Gi"
            cpu: "4000m"
      volumes:
      - name: otpcfgmap
        configMap:
          name: opentripplanner-cfgmap
      - name: "datastorage"
        nfs:
          server: digitransitprdaksstorage.file.core.windows.net
          path: /digitransitprdaksstorage/varely
          readOnly: true
      imagePullSecrets:
        - name: hsldevcomkey

---

apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: opentripplanner-varely-v2-pdb
spec:
  maxUnavailable: 1
  selector:
    matchLabels:
      app: opentripplanner-varely-v2
