apiVersion: v1
kind: Service
metadata:
  name: opentripplanner-waltti-v2
  labels:
    app: opentripplanner-waltti-v2
spec:
  ports:
  - port: 8080
    targetPort: 8080
    name: opentripplanner-waltti-v2-service-port
  selector:
    app: opentripplanner-waltti-v2

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: opentripplanner-waltti-v2
  labels:
    app: opentripplanner-waltti-v2
    update: auto
    restartDelay: "1"
    restartAt: "05.45"
    restartLimitInterval: "720"
    checkImageFreshnessAt: "09.00"
    imageFreshnessTitle: "Waltti_routing_data"
spec:
  # replicas: 32
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 50%
      maxUnavailable: 0
  selector:
    matchLabels:
      app: opentripplanner-waltti-v2
  template:
    metadata:
      labels:
        app: opentripplanner-waltti-v2
    spec:
      nodeSelector:
        agentpool: megapool
      tolerations:
      - key: "megaPod"
        operator: "Equal"
        value: "yes"
        effect: "NoSchedule"
      containers:
      - name: opentripplanner-waltti-v2
        image: hsldevcom/opentripplanner:v2-prod-waltti
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        volumeMounts:
          - name: otpcfgmap
            mountPath: /logback-include-extensions.xml
            subPath: file-from-cfgmap
          - name: datastorage
            mountPath: /var/otp/
        startupProbe:
          periodSeconds: 5
          timeoutSeconds: 5
          failureThreshold: 40
          httpGet:
            port: 8080
            path: "/otp/actuators/health"
        readinessProbe:
          periodSeconds: 5
          timeoutSeconds: 5
          failureThreshold: 5
          httpGet:
            port: 8080
            path: "/otp/actuators/health"
        livenessProbe:
          periodSeconds: 12
          timeoutSeconds: 10
          failureThreshold: 5
          httpGet:
            port: 8080
            path: "/otp/actuators/health"
        securityContext:
          allowPrivilegeEscalation: false
        env:
        - name: JAVA_OPTS
          value: -Xmx19g -Xms19g -XX:+UseG1GC -XX:MaxGCPauseMillis=200 -XX:G1ReservePercent=10 -Xlog:gc -XX:+UnlockExperimentalVMOptions -XX:+UseCompactObjectHeaders
        resources:
          requests:
            memory: "21Gi"
            cpu: "7000m"
          limits:
            memory: "21Gi"
            cpu: "8000m"
      volumes:
      - name: otpcfgmap
        configMap:
          name: opentripplanner-cfgmap
      - name: "datastorage"
        nfs:
          server: digitransitprdaksstorage.file.core.windows.net
          path: /digitransitprdaksstorage/waltti
          readOnly: true
      imagePullSecrets:
        - name: hsldevcomkey

---

apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: opentripplanner-waltti-v2-pdb
spec:
  maxUnavailable: 1
  selector:
    matchLabels:
      app: opentripplanner-waltti-v2
